@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

@theme {
    --font-sans: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.r-fade-leave-active {
    transition: opacity 0.4s ease;
}

.r-fade-leave-to {
    opacity: 0;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-8px);
    }

    40% {
        transform: translateX(8px);
    }

    60% {
        transform: translateX(-6px);
    }

    80% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(0);
    }
}

.alert-error {
    animation: shake 0.3s ease-in-out;
}

/*Tailwind cannot detect classes inside comma‑separated selectors. */
/*
 * WaveSurfer v7.12.1 DOM:
 *
 * #zs-waveform-controls > div > #shadow-root
 *   > [scroll] > [wrapper]
 *     > [canvases] > div > canvas
 *     > [progress] > ...
 */
#zs-waveform-controls>div {
    height: 100%;
}

#zs-waveform-controls ::part(scroll) {
    height: calc(100% - 70px);
}

#zs-waveform-controls ::part(wrapper) {
    height: 100%;
}

#zs-waveform-controls ::part(canvases) {
    height: calc(100% - 40px);
}

#zs-waveform-controls ::part(progress) {
    height: calc(100% - 40px);
}
